.dataTable {
  margin-top: 0px;
  border: none;
}

/*
 * Setup
 */

.wrapper {
  display: flex;
  align-items: center;
  padding: calc(var(--mantine-spacing-xl) * 2);
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

.image {
  max-width: 240px;
}

.body {
  max-width: 600px;
  padding-right: calc(var(--mantine-spacing-xl) * 2);
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1;
  margin-bottom: var(--mantine-spacing-md);
}

.inputWrapper {
  width: 100%;
  flex: 1;
}

.input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}